*
!3HDMZ3DM-AI-1.0.0
!LoopTools-2.16-modified.tar.gz
!hbdataset-v1.7.tar.gz
!higgstools-v1.2.tar.gz
!src
!configs
!check-points
!requirements.txt
!micromegas_6.2.3.tar.gz
!micrOmegas-model/3HDMZ3-2Inert-mO-model_2DM
!micrOmegas-model/main.cpp
!micrOmegas-model/main_dd.cpp